{% extends "mishmar/base.html" %}
<html dir = rtl>
{% block content %}
    <main role="main" class="container" dir="rtl">
      {% if request.user.is_authenticated %}
      <div dir="rtl" class="row">
    <div dir="rtl">
          <div dir="rtl" class="content-section">
            <h4 dir="rtl">מחובר למשתמש: {{request.user.username}}</h4>
            <h5 dir="rtl">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
            <h3>איכויות:</h3>
            <h3>שישי לילה/מוצ"ש: {{ profile.sat_night }}</h3>
            <h3>שבת בוקר: {{ profile.sat_morning }}</h3>
            <h3>לילה: {{ profile.night }}</h3>
            <h3>שישי צהריים: {{ profile.fri_noon }}</h3>
          </div>
        </div>
    <div dir="rtl" style="margin-right: 1.5em">
            {% for post in posts %}
                <article class="content-section">
                <div class="row border-bottom" style="margin-left: 3px; margin-right: 3px; margin-bottom: 7px">
                    <small class="text-muted mr-2" style="margin-left: 20em; align-items: end">{{ post.date|date:"d/m/Y H:i" }}</small>
              <a class="text-muted mr-2" style="margin-left: 15px">{{ post.username|get_user_name }}</a>
                    </div>
                    <div>
            <h2><a class="article-title" {% if request.user|isStaff %} href="{% url 'post-update' post.id %}" {% endif %}>{{ post.title }}</a></h2>
                        </div>
                    <div>
            <p class="article-content">{{ post.text }}</p>
                </div>
        </article>
            {% endfor %}
        {% else %}
            <h1>היי אורח,</h1>
            <p>התחבר כדי להמשיך.</p>
        {% endif %}
    </div>
      </div>
    </main>

{% endblock content %}