<div style="padding:10px 0">
    {% if submitting %}
    <a>מספר רצפים לילה לצהריים: </a><input required type="number" min="0" {% if shift != None %} value="{{ shift.seq_night }}" {% else %} value="0" {% endif %} name="seq_night" id="id_seq_night">
    {% else %}
        <a>מספר רצפים לילה לצהריים: </a><input required type="number" min="0" {% if shift != None %} value="{{ shift.seq_night }}" {% else %} value="0" {% endif %} name="seq_night" id="id_seq_night" disabled>
    {% endif %}
</div>
<div style="padding:10px 0">
    {% if submitting %}
    <a>מספר רצפים צהריים לבוקר: </a><input required type="number" min="0" {% if shift != None %} value="{{ shift.seq_noon }}" {% else %} value="0" {% endif %} name="seq_noon" id="id_seq_noon">
    {% else %}
    <a>מספר רצפים צהריים לבוקר: </a><input required type="number" min="0" {% if shift != None %} value="{{ shift.seq_noon }}" {% else %} value="0" {% endif %} name="seq_noon" id="id_seq_noon" disabled>
    {% endif %}
</div>
{% for week in shift_data %}
<table class="responsive-table-input-matrix" style="align-items: center">
		<thead>
		<tr>
			<th>תאריך</th>
			{% for day in days|clip_days:forloop.counter0 %}
                <th>{{ day|date:"d.m" }}</th>
                {% endfor %}
		</tr>
		<tr>
			<th></th>
			<th>ראשון</th>
			<th>שני</th>
			<th>שלישי</th>
			<th>רביעי</th>
			<th>חמישי</th>
			<th>שישי</th>
			<th>שבת</th>
		</tr>
		</thead>
		<tbody>

		<tr style="align-content: end">
			<td>בוקר</td>
        {% for field in shift_data|get_served_week:week|get_list_dict_served:"M" %}
			<td><input type="checkbox" {% if not submitting %} disabled {% endif %} {% if field|default_if_none:False == True %} checked {% endif %} name="M{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% endfor %}
		</tr>
		<tr>
			<td>צהריים</td>
            {% for field in shift_data|get_served_week:week|get_list_dict_served:"A" %}
            <td><input type="checkbox" {% if not submitting %} disabled {% endif %} {% if field|default_if_none:False == True %} checked {% endif %} name="A{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% endfor %}
		</tr>
		<tr>
		<td>לילה</td>
        {% for field in shift_data|get_served_week:week|get_list_dict_served:"N" %}
        <td><input type="checkbox" {% if not submitting %} disabled {% endif %} {% if field|default_if_none:False == True %} checked {% endif %} name="N{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
        {% endfor %}
		</tr>
        <tr>
		<td>↑לילה<br>↓משיכה</td>
			<td>↑לילה<br>↓משיכה</td>
			<td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
		</tr>
        <tr>
			<td>משיכה</td>
            {% for field in shift_data|get_served_week:week|get_list_dict_served:"P" %}
            <td><input type="checkbox" {% if not submitting %} disabled {% endif %} {% if field|default_if_none:False == True %} checked {% endif %} name="P{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% endfor %}
		</tr>
        <tr>
			<td>תגבור</td>
            {% for field in shift_data|get_served_week:week|get_list_dict_served:"R" %}
            <td><input type="checkbox" {% if not submitting %} disabled {% endif %} {% if field|default_if_none:False == True %} checked {% endif %} name="R{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% endfor %}
		</tr>
		<tr>
			<td>הערות</td>
            {% for field in shift_data|get_served_week:week|get_list_dict_served:"notes" %}
                <td><textarea name="notes{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" {% if not submitting %} disabled {% endif %} >{{ field|default_if_none:"" }}</textarea></td>
            {% endfor %}
		</tr>
		</tbody>
	</table>
{% endfor %}
            <div dir="rtl" class="row">
                <notes >
                    <a>הערות:</a>
                </notes>
                <div STYLE="margin-top: 1.5em">
                    <textarea name="notesArea" class="notesArea" {% if not submitting %} disabled {% endif %}>{{ notes_text }}</textarea>
                </div>
            </div>