<div style="padding:10px 0">
    {% if submitting %}
    <a>מספר רצפים לילה לצהריים: </a><input type="number" value="{{ form.seq_night }}" name="seq_night" id="id_seq_night">
    {% else %}
        <a>מספר רצפים לילה לצהריים: </a><input type="number" value="{{ form.seq_night }}" name="seq_night" id="id_seq_night" disabled>
    {% endif %}
</div>
<div style="padding:10px 0">
    {% if submitting %}
    <a>מספר רצפים צהריים לבוקר: </a><input type="number" value="{{ form.seq_noon }}" name="seq_noon" id="id_seq_noon">
    {% else %}
    <a>מספר רצפים צהריים לבוקר: </a><input type="number" value="{{ form.seq_noon }}" name="seq_noon" id="id_seq_noon" disabled>
    {% endif %}
</div>
{% for f in forms %}
<table class="responsive-table-input-matrix" style="align-items: center">
		<thead>
		<tr>
			<th>תאריך</th>
			{% for day in days|clip_days:forloop.counter0 %}
                <th>{{ day|date:"d.m" }}</th>
                {% endfor %}
		</tr>
		<tr>
			<th></th>
			<th>ראשון</th>
			<th>שני</th>
			<th>שלישי</th>
			<th>רביעי</th>
			<th>חמישי</th>
			<th>שישי</th>
			<th>שבת</th>
		</tr>
		</thead>
		<tbody>

		<tr style="align-content: end">
			<td>בוקר</td>
        {% for field in f|get_form_data:"M" %}
            {% if submitting %}
            {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="M{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% else %}
            <td><input type="checkbox" value="True" name="M{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked></td>
            {% endif %}
            {% else %}
            {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="M{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" disabled></td>
            {% else %}
            <td><input type="checkbox" value="True" name="M{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked disabled></td>
            {% endif %}
            {% endif %}
            {% endfor %}
		</tr>
		<tr>
			<td>צהריים</td>
            {% for field in f|get_form_data:"A" %}
                {% if submitting %}
            {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="A{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% else %}
            <td><input type="checkbox" value="True" name="A{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked></td>
            {% endif %}
                {% else %}
                    {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="A{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" disabled></td>
            {% else %}
            <td><input type="checkbox" value="True" name="A{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked disabled></td>
            {% endif %}
                {% endif %}
            {% endfor %}
		</tr>
		<tr>
		<td>לילה</td>
            {% for field in f|get_form_data:"N" %}
                {% if submitting %}
            {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="N{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% else %}
            <td><input type="checkbox" value="True" name="N{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked></td>
            {% endif %}
                {% else %}
                    {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="N{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" disabled></td>
            {% else %}
            <td><input type="checkbox" value="True" name="N{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked disabled></td>
            {% endif %}
                {% endif %}
            {% endfor %}
		</tr>
        <tr>
		<td>↑לילה<br>↓משיכה</td>
			<td>↑לילה<br>↓משיכה</td>
			<td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
            <td>↑לילה<br>↓משיכה</td>
		</tr>
        <tr>
			<td>משיכה</td>
            {% for field in f|get_form_data:"P" %}
                {% if submitting %}
            {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="P{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% else %}
            <td><input type="checkbox" value="True" name="P{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked></td>
            {% endif %}
                {% else %}
                    {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="P{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" disabled></td>
            {% else %}
            <td><input type="checkbox" value="True" name="P{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked disabled></td>
            {% endif %}
                {% endif %}
            {% endfor %}
		</tr>
        <tr>
			<td>תגבור</td>
            {% for field in f|get_form_data:"R" %}
                {% if submitting %}
            {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="R{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}"></td>
            {% else %}
            <td><input type="checkbox" value="True" name="R{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked></td>
            {% endif %}
                {% else %}
                    {% if field|default_if_none:False == False %}
			<td><input type="checkbox" value="True" name="R{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" disabled></td>
            {% else %}
            <td><input type="checkbox" value="True" name="R{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" checked disabled></td>
            {% endif %}
                {% endif %}
            {% endfor %}
		</tr>
		<tr>
			<td>הערות</td>
            {% for field in f|get_form_data:"notes" %}
                {% if submitting %}
                <td><textarea name="notes{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}">{{ field|default_if_none:"" }}</textarea></td>
                {% else %}
                <td><textarea name="notes{{ forloop.counter }}_{{ forloop.parentloop.counter0 }}" disabled>{{ field|default_if_none:"" }}</textarea></td>
                {% endif %}
            {% endfor %}
		</tr>
		</tbody>
	</table>
{% endfor %}
            <div dir="rtl" class="row">
                <notes >
                    <a>הערות:</a>
                </notes>
                <div STYLE="margin-top: 1.5em">
                    {% if submitting %}
                    <textarea name="notesArea" class="notesArea">{{ notes_text }}</textarea>
                    {% else %}
                        <textarea name="notesArea" class="notesArea" disabled>{{ notes_text }}</textarea>
                    {% endif %}
                </div>
            </div>