{% extends "Schedule/base.html" %}
{% block content %}

<ul style="padding-left: 100px; padding-right: 10px">
        <h1>יומן חימוש - {{ day|date:"d/m/Y" }}</h1> 
        <div class="row" style="margin-right: 0px;">
            <div>
        <form method="POST">
            {% csrf_token %}
        <button class="but effect01" type="submit" name="month_log"><span>יומן חימוש אישי</span></button>
    </form>
</div>
{% if user.is_staff %}
<div style="margin-right: 10px;">
    <form method="POST">
        {% csrf_token %}
    <button class="but effect01" type="submit" name="month_log_manager"><span>יומן חימוש חודשי</span></button>
</form>
</div>
{% endif %}
{% if user|is_manager %}
<div style="margin-right: 10px;">
    <form method="POST">
        {% csrf_token %}
    <button class="but effect01" type="submit" name="change_requests"><span>בקשות שינוי{% if num_requests > 0 %}
        <a style="color:white; background-color:red; border-radius: 50%; margin-right:4px; padding: 5px;">{{ num_requests }}</a>{% endif %}</span></button>
</form>
</div>
{% endif %}
</div>
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
                <tr>
                    <th style="width:74%">טופס מסירה - קבלת ציוד</th>
                    <th>החזרת ציוד - כליי ירייה</th>
                </tr>
                </thead>
        </table>
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
            <tr>
                <th>משמרת</th>
                <th>מס"ד</th>
                <th>ת.ז.</th>
                <th>שם</th>
                <th>שעה</th>
                <th>מס' נשק</th>
                <th>מס' מחסניות</th>
                <th>אזיקים</th>
                <th>פונדה</th>
                <th>נרתיק</th>
                <th>מפתחות</th>
                <th>קשר</th>
                <th>ערכת שמע</th>
                <th>חתימה</th>
                <th>חתימת מורשה</th>
                <th>שעה</th>
                <th>חתימה</th>
                <th>חתימת מורשה</th>
                <th>אישור והחתמה</th>
            </tr>
            </thead>
            <tbody>
                <form method="POST">
                    {% csrf_token %}
                <tr style="align-content: end">
                    <td><select name="shifts" id="shifts">
                        <option value="1">בוקר</option>
                        <option value="2">צהריים</option>
                        <option value="3">לילה</option>
                    </select></td>
                    <td>0</td>
                    <td><input type="text" name="id_num" id="id_num" required maxlength="9" minlength="9" style="width:100px;"></td>
                    {% if user.username != 'metagber' %}
                    <td><a name="user_name" id="user_name" value="{{user_name}}">{{user_name}}</a></td>
                    {% else %}
                    <td><input type="text" name="user_name" id="user_name" required style="width:100px;"></td>
                    {% endif %}
                    <td><input type="time" name="time_in" id="time_in" required value="07:00"></td>
                    <td><select name="guns" id="guns">
                        {% for gun in guns %}
                        <option value="{{gun.id}}">{{gun.short_name}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="num_mags" id="num_mags">
                        {% for num_mag in num_mags_list %}
                        <option value="{{num_mag}}">{{num_mag}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="hand_cuffs" id="hand_cuffs">
                        {% for hand in hand_cuffs_list %}
                        <option value="{{hand}}">{{hand}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="mag_case" id="mag_case">
                        {% for mag in mag_case_list %}
                        <option value="{{mag}}">{{mag}}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="gun_case" id="gun_case">
                        {% for gun in gun_case_list %}
                        <option value="{{gun}}">{{gun}}</option>
                        {% endfor %}
                    </select></td>
                    <td><input type="checkbox" name="keys" id="keys"></td>
                    <td><input type="checkbox" name="radio" id="radio"></td>
                    <td><input type="checkbox" name="radio_kit" id="radio_kit"></td>
                    <td></td>
                    <td></td>
                    <td><input type="time" name="time_out" id="time_out" style="width: 80px; height: 30px"></td>
                    <td></td>
                    <td></td>
                    <td style="padding-top:20px;"><button class="btn btn-info mb-4" type="submit" name="add" id="add">חתימה</button></td>
                </tr>
                </form>
                <form method="POST">
                    {% csrf_token %}
                {% for arming in object_list %} 
            <tr style="align-content: end">
                {% if request.user|edit_permission:arming or request.user|request_permission:arming %}
                <td><select name="shifts{{arming.id}}" id="shifts{{arming.id}}">
                    <option value="1" {% if arming.shift_num == 1 %}selected{% endif %}>בוקר</option>
                    <option value="2" {% if arming.shift_num == 2 %}selected{% endif %}>צהריים</option>
                    <option value="3" {% if arming.shift_num == 3 %}selected{% endif %}>לילה</option>
                </select></td>
                <td>{{forloop.counter|counter_shifts:object_list}}</td>
                <td><input type="text" name="id_num{{arming.id}}" id="id_num{{arming.id}}" required maxlength="9" minlength="9" value="{{arming.id_num}}" style="width: 100px;"></td>
                {% if user.username != 'metagber' %}
                <td><a name="user_name{{arming.id}}" id="user_name{{arming.id}}" value="{{arming.name}}">{{arming.name}}</a></td>
                {% else %}
                <td><input type="text" name="user_name{{arming.id}}" id="user_name{{arming.id}}" required value="{{arming.name}}" style="width: 100px;"></td>
                {% endif %}
                <td><input type="time" value="{{arming.time_in|timestr}}" name="time_in{{arming.id}}" id="time_in{{arming.id}}"></td>
                <td><select name="guns{{arming.id}}" id="guns{{arming.id}}">
                    {% for gun in guns %}
                    {% if gun == arming.gun %}
                    <option value="{{gun.id}}" selected>{{gun.short_name}}</option>
                    {% else %}
                    <option value="{{gun.id}}">{{gun.short_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="num_mags{{arming.id}}" id="num_mags{{arming.id}}">
                    {% for num_mag in num_mags_list %}
                    {% if num_mag == arming.num_mags %}
                    <option value="{{num_mag}}" selected>{{num_mag}}</option>
                    {% else %}
                    <option value="{{num_mag}}">{{num_mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="hand_cuffs{{arming.id}}" id="hand_cuffs{{arming.id}}">
                    {% for hand in hand_cuffs_list %}
                    {% if hand == arming.hand_cuffs %}
                    <option value="{{hand}}" selected>{{hand}}</option>
                    {% else %}
                    <option value="{{hand}}">{{hand}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="mag_case{{arming.id}}" id="mag_case{{arming.id}}">
                    {% for mag in mag_case_list %}
                    {% if mag == arming.mag_case %}
                    <option value="{{mag}}" selected>{{mag}}</option>
                    {% else %}
                    <option value="{{mag}}">{{mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="gun_case{{arming.id}}" id="gun_case{{arming.id}}">
                    {% for gun in gun_case_list %}
                    {% if gun == arming.gun_case %}
                    <option value="{{gun}}" selected>{{gun}}</option>
                    {% else %}
                    <option value="{{gun}}">{{gun}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                {% if arming.keys == True %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}"></td>
                    {% endif %}
                    {% if arming.radio == True %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}"></td>
                    {% endif %}
                    {% if arming.radio_kit == True %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" checked></td>
                    {% else %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}"></td>
                    {% endif %}
                    <td>{% if arming.signature_in != "" and arming.signature_in != None %}<img id="sig-image" src={{arming.signature_in}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                    <td>{% if arming.valid_in != "" and arming.valid_in != None %}<img id="sig-image" src={{arming.valid_in}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td><input type="time" {% if arming.time_out != None %} value="{{arming.time_out|timestr}}" {% else %} style="width: 80px; height: 30px" {% endif %}
                    name="time_out{{arming.id}}" id="time_out{{arming.id}}"></td>
                    <td>{% if arming.signature_out != "" and arming.signature_out != None %}<img id="sig-image" src={{arming.signature_out}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                    <td>{% if arming.valid_out != "" and arming.valid_out != None %}<img id="sig-image" src={{arming.valid_out}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                {% if request.user|edit_permission:arming %}
                    <td><button class="btn btn-info mb-4" type="submit" value="{{arming.id}}" id="change" name="change">חתימה</button></td>
                {% else %}
                <td><button class="btn btn-info mb-4" type="submit" value="{{arming.id}}" id="request" name="request">בקשה לשינוי</button></td>
                {% endif %}
                {% else %}
                <td>{{arming.shift_num|num_to_shift}}</td>
                <td>{{forloop.counter|counter_shifts:object_list}}</td>
                <td>{{arming.id_num}}</td>
                <td><a name="user_name{{arming.id}}" id="user_name{{arming.id}}" value="{{arming.name}}">{{arming.name}}</a></td>
                <td>{{arming.time_in|timestr}}</td>
                <td><select name="guns{{arming.id}}" id="guns{{arming.id}}">
                    {% for gun in guns %}
                    {% if gun == arming.gun %}
                    <option value="{{gun.id}}" selected disabled>{{gun.short_name}}</option>
                    {% else %}
                    <option value="{{gun.id}}" disabled>{{gun.short_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="num_mags{{arming.id}}" id="num_mags{{arming.id}}">
                    {% for num_mag in num_mags_list %}
                    {% if num_mag == arming.num_mags %}
                    <option value="{{num_mag}}" selected disabled>{{num_mag}}</option>
                    {% else %}
                    <option value="{{num_mag}}" disabled>{{num_mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="hand_cuffs{{arming.id}}" id="hand_cuffs{{arming.id}}">
                    {% for hand in hand_cuffs_list %}
                    {% if hand == arming.hand_cuffs %}
                    <option value="{{hand}}" selected disabled>{{hand}}</option>
                    {% else %}
                    <option value="{{hand}}" disabled>{{hand}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="mag_case{{arming.id}}" id="mag_case{{arming.id}}">
                    {% for mag in mag_case_list %}
                    {% if mag == arming.mag_case %}
                    <option value="{{mag}}" selected disabled>{{mag}}</option>
                    {% else %}
                    <option value="{{mag}}" disabled>{{mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="gun_case{{arming.id}}" id="gun_case{{arming.id}}">
                    {% for gun in gun_case_list %}
                    {% if gun == arming.gun_case %}
                    <option value="{{gun}}" selected disabled>{{gun}}</option>
                    {% else %}
                    <option value="{{gun}}" disabled>{{gun}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                {% if arming.keys == True %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" disabled></td>
                    {% endif %}
                    {% if arming.radio == True %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" disabled></td>
                    {% endif %}
                    {% if arming.radio_kit == True %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" disabled></td>
                    {% endif %}
                <td>{% if arming.signature_in != "" and arming.signature_in != None %}<img id="sig-image" src={{arming.signature_in}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td>{% if arming.valid_in != "" and arming.valid_in != None %}<img id="sig-image" src={{arming.valid_in}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td>{% if arming.time_out != None %} {{arming.time_out|timestr}} {% else %} <a>אין יציאה</a> {% endif %}</td>
                <td>{% if arming.signature_out != "" and arming.signature_out != None %}<img id="sig-image" src={{arming.signature_out}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td>{% if arming.valid_out != "" and arming.valid_out != None %}<img id="sig-image" src={{arming.valid_out}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td><button class="btn btn-info mb-4" type="submit" value="{{arming.id}}" id="change" name="change" disabled>בקשה בתהליך</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </form>
            </tbody>
        </table>
        <table style="margin-top: 20px;">
            <form method="POST">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th>משמרת בוקר</th>
                        <th>משמרת צהריים</th>
                        <th>משמרת לילה</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a style="margin-left: 5px;">נשקים בכספת:</a><input type="number" placeholder="נשקים בכספת" name="gun_safe1" id="gun_safe1" value={{validation_log.num_guns_safe_m}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים בכספת:</a><input type="number" placeholder="נשקים בכספת" name="gun_safe2" id="gun_safe2" value={{validation_log.num_guns_safe_a}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים בכספת:</a><input type="number" placeholder="נשקים בכספת" name="gun_safe3" id="gun_safe3" value={{validation_log.num_guns_safe_n}}
                            style="width: 50px;"></td>
                    </tr>
                    <tr> 
                        <td><a style="margin-left: 5px;">נשקים במשמרת:</a><input type="number" placeholder="נשקים במשמרת" name="gun_shift1" id="gun_shift1" value={{validation_log.num_guns_shift_m}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים במשמרת:</a><input type="number" placeholder="נשקים במשמרת" name="gun_shift2" id="gun_shift2" value={{validation_log.num_guns_shift_a}}
                            style="width: 50px;"></td>
                        <td><a style="margin-left: 5px;">נשקים במשמרת:</a><input type="number" placeholder="נשקים במשמרת" name="gun_shift3" id="gun_shift3" value={{validation_log.num_guns_shift_n}}
                            style="width: 50px;"></td>
                    </tr>
                    <tr> 
                        <td><a style="margin-left: 5px;">שעה:</a><input type="time" placeholder="שעה" name="time1" id="time1" 
                            {% if validation_log.name_checked_m != None and validation_log.name_checked_m != "" %} value={{validation_log.time_checked_m|timestr}} {% else %} value="07:00" {% endif %}></td>
                        <td><a style="margin-left: 5px;">שעה:</a><input type="time" placeholder="שעה" name="time2" id="time2" 
                            {% if validation_log.name_checked_a != None and validation_log.name_checked_a != "" %} value={{validation_log.time_checked_a|timestr}} {% else %} value="07:00" {% endif %}></td>
                        <td><a style="margin-left: 5px;">שעה:</a><input type="time" placeholder="שעה" name="time3" id="time3" 
                            {% if validation_log.name_checked_n != None and validation_log.name_checked_n != "" %} value={{validation_log.time_checked_n|timestr}} {% else %} value="07:00" {% endif %}></td>
                    </tr>
                    <tr> 
                        <td><a style="margin-left: 10px;">שם אחמ"ש:</a><input type="text" placeholder="שם אחמ'ש" name="manager1" id="manager1" 
                            style="width: 120px;" value={{validation_log.name_checked_m}}></td>
                        <td><a style="margin-left: 10px;">שם אחמ"ש:</a><input type="text" placeholder="שם אחמ'ש" name="manager2" id="manager2" 
                            style="width: 120px;" value={{validation_log.name_checked_a}} ></td>
                        <td><a style="margin-left: 10px;">שם אחמ"ש:</a><input type="text" placeholder="שם אחמ'ש" name="manager3" id="manager3" 
                            style="width: 120px;" value={{validation_log.name_checked_n}}></td>
                    </tr>
                    <tr>
                      <td>{% if validation_log.sig_m != "" and validation_log.sig_m != None %}<img id="sig-image" src={{validation_log.sig_m}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                      <td>{% if validation_log.sig_a != "" and validation_log.sig_a != None %}<img id="sig-image" src={{validation_log.sig_a}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                      <td>{% if validation_log.sig_n != "" and validation_log.sig_n != None %}<img id="sig-image" src={{validation_log.sig_n}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-info mb-4" type="submit" name="shift1" id="shift1"{% if validation_log|validation_log_check:1 %} disabled {% endif %}>חתימה</button></td>
                        <td><button class="btn btn-info mb-4" type="submit" name="shift2" id="shift2"{% if validation_log|validation_log_check:2 %} disabled {% endif %}>חתימה</button></td>
                        <td><button class="btn btn-info mb-4" type="submit" name="shift3" id="shift3"{% if validation_log|validation_log_check:3 %} disabled {% endif %}>חתימה</button></td>
                    </tr>
                </tbody>
                </form>
        </table>
</ul>
<div class="center_div">
    <ul>
      <form method="POST">
        {% csrf_token %}
      <div class="row">
        {% if previous_day %}
                <a class="btn btn-info mb-4" href="{% url 'armingday' year=previous_day|date:'Y' month=previous_day|date:'b'|getmonth day=previous_day|date:'d' %}" style="width: 80px; margin-top: 10px; margin-left: 20px">
                    אתמול
                </a>
        {% endif %}
        <div style="margin-top: 15px">
      <input type="date" name="goto_date" value="{{ day|date:"Y-m-d" }}">
  </div>
        {% if next_day %}
                <a class="btn btn-info mb-4" href="{% url 'armingday' year=next_day|date:'Y' month=next_day|date:'b'|getmonth day=next_day|date:'d' %}" style="margin-top: 10px;  margin-right: 20px">
                    מחר</a>
        {% endif %}
      </div>
      <div style="margin-right: 105px; margin-top: -10px">
        <button type="submit" name="goto" class="btn btn-info mb-4">לך לתאריך</button>
      </div>
    </form>
    </ul>
</div>
{% endblock content %}