{% extends "Schedule/base.html" %}
{% block content %}

<ul>
    {% if reqtype == '' %}
        <h1>יומן חימוש אישי חודשי - {{ month|date:"m/Y" }}</h1>
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
                <tr>
                    <th style="width:74%">שעות החודש</th>
                    <th>{{object_list|gethours:user}} שעות</th>
                </tr>
                <tr>
                    <th style="width:74%">כמות משמרות</th>
                    <th>{{object_list|countshifts:user}}</th>
                </tr>
                </thead>
        </table>
        <small>*השעות מחושבות על משמרות עם זמן יציאה בלבד</small>
    {% else %}
    <h1>יומן חימוש חודשי - {{ month|date:"m/Y" }}</h1>
    {% endif %}
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
                <tr>
                    <th style="width:84.9%">טופס מסירה - קבלת ציוד</th>
                    <th>החזרת ציוד - כליי ירייה</th>
                </tr>
                </thead>
        </table>
        <table class="responsive-table-input-matrix" style="align-items: center">
            <thead>
            <tr>
                <th>משמרת</th>
                <th>תאריך</th>
                <th>ת.ז.</th>
                <th>שם</th>
                <th>שעה</th>
                <th>מס' נשק</th>
                <th>מס' מחסניות</th>
                <th>אזיקים</th>
                <th>פונדה</th>
                <th>נרתיק</th>
                <th>מפתחות</th>
                <th>קשר</th>
                <th>ערכת שמע</th>
                <th>חתימה</th>
                <th>חתימת מורשה</th>
                <th>שעה</th>
                <th>חתימה</th>
                <th>חתימת מורשה</th>                
                <th></th>
            </tr>
            </thead>
            <tbody>
                <form method="POST">
                    {% csrf_token %}
                {% for arming in object_list|merge_user:user|object_list_cutter:reqtype %}
            <tr style="align-content: end">
                <td>{{arming.shift_num|num_to_shift}}</td>
                <td>{{arming.date|date:"d/m/Y"}}</td>
                <td>{{arming.id_num}}</td>
                <td>{{arming.name}}</td>
                <td>{{arming.time_in|timestr}}</td>
                <td><select name="guns{{arming.id}}" id="guns{{arming.id}}">
                    {% for gun in guns %}
                    {% if gun == arming.gun %}
                    <option value="{{gun.id}}" selected disabled>{{gun.short_name}}</option>
                    {% else %}
                    <option value="{{gun.id}}" disabled>{{gun.short_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="num_mags{{arming.id}}" id="num_mags{{arming.id}}">
                    {% for num_mag in num_mags_list %}
                    {% if num_mag == arming.num_mags %}
                    <option value="{{num_mag}}" selected disabled>{{num_mag}}</option>
                    {% else %}
                    <option value="{{num_mag}}" disabled>{{num_mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="hand_cuffs{{arming.id}}" id="hand_cuffs{{arming.id}}">
                    {% for hand in hand_cuffs_list %}
                    {% if hand == arming.hand_cuffs %}
                    <option value="{{hand}}" selected disabled>{{hand}}</option>
                    {% else %}
                    <option value="{{hand}}" disabled>{{hand}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="mag_case{{arming.id}}" id="mag_case{{arming.id}}">
                    {% for mag in mag_case_list %}
                    {% if mag == arming.mag_case %}
                    <option value="{{mag}}" selected disabled>{{mag}}</option>
                    {% else %}
                    <option value="{{mag}}" disabled>{{mag}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                <td><select name="gun_case{{arming.id}}" id="gun_case{{arming.id}}">
                    {% for gun in gun_case_list %}
                    {% if gun == arming.gun_case %}
                    <option value="{{gun}}" selected disabled>{{gun}}</option>
                    {% else %}
                    <option value="{{gun}}" disabled>{{gun}}</option>
                    {% endif %}
                    {% endfor %}
                </select></td>
                {% if arming.keys == True %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="keys{{arming.id}}" id="keys{{arming.id}}" disabled></td>
                    {% endif %}
                    {% if arming.radio == True %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="radio{{arming.id}}" id="radio{{arming.id}}" disabled></td>
                    {% endif %}
                    {% if arming.radio_kit == True %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" checked disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="radio_kit{{arming.id}}" id="radio_kit{{arming.id}}" disabled></td>
                    {% endif %}
                    <td>{% if arming.signature_in != "" and arming.signature_in != None %}<img id="sig-image" src={{arming.signature_in}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                    <td>{% if arming.valid_in != "" and arming.valid_in != None %}<img id="sig-image" src={{arming.valid_in}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td>{% if arming.time_out != None and arming.time_out != "" %}{{arming.time_out|timestr}} {% else %} <a>אין יציאה</a> {% endif %}</td>
                <td>{% if arming.signature_out != "" and arming.signature_out != None %}<img id="sig-image" src={{arming.signature_out}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td>{% if arming.valid_out != "" and arming.valid_out != None %}<img id="sig-image" src={{arming.valid_out}} alt="Your signature will go here!" width="100px"/> {% endif %}</td>
                <td><button class="btn btn-info mb-4" type="submit" value="{{arming.id}}"  id="change" name="change" disabled>שנה</button></td>
            </tr>
            {% endfor %}
        </form>
            </tbody>
        </table>
</ul>
<div >
    <ul>
        {% if previous_month %}
                <a class="btn btn-info mb-4" href="{% url 'armingmonth' year=previous_month|date:'Y' month=previous_month|date:'b'|getmonth %}" style="margin-top: 10px;">
                    חודש שעבר
                </a>
        {% endif %}
        {% if next_month %}
                <a class="btn btn-info mb-4" href="{% url 'armingmonth' year=next_month|date:'Y' month=next_month|date:'b'|getmonth %}" style="margin-top: 10px;">
                    חודש הבא</a>
        {% endif %}
    </ul>
</div>
{% endblock content %}