{% load static %}
<!DOCTYPE html>
<html dir = rtl>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Schedule/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Schedule/matrix.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Schedule/neon.css' %}">
    <link rel="shortcut icon" href="{%  static 'Schedule/favicon.ico' %}">

    <title>משמר בתי המשפט - {{ ""|get_city }}</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'Schedule-Home' %}">משמר בתי המשפט - {{ ""|get_city }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav ">
              {% if user.is_authenticated %}
              {% if user.username != 'metagber' %}
              <a style="margin-right: 0.5em" class="nav-item nav-link" href="{% url 'Schedule-Serve' %}">{{ user|get_base_string:"1" }}</a>
                <a  class="nav-item nav-link" href="{% url 'Schedule-Organization' %}">{{ user|get_base_string:"2" }}</a>
                {% endif %}
                <a  class="nav-item nav-link" href="{% url 'armingday' year='today'|getday|date:'Y' month='today'|getday|date:'b'|getmonth day='today'|getday|date:'d' %}">יומן חימוש</a>
                {% endif %}
                {% if user.is_staff %}
                    <a  class="nav-item nav-link" href="{% url 'Schedule-Served-sum' %}">{{ user|get_base_string:"3" }}</a>
                    <a  class="nav-item nav-link" href="{% url 'Schedule-Settings' %}">{{ user|get_base_string:"4" }}</a>
                    <a  class="nav-item nav-link" href="{% url 'admin:index' %}">{{ user|get_base_string:"5" }}</a>
                {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                {% if user.username != 'metagber' %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user|get_base_string:"6" }}</a>
                    {% endif %}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">{{ user|get_base_string:"7" }}</a>
                 {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">{{ user|get_base_string:"8" }}</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">{{ user|get_base_string:"9" }}</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row" dir="rtl">
        <div>
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    $('textarea').keypress(function(event) {
   if (event.which == 13) {
      event.stopPropagation();
       }
    });​
    </script>
</body>
</html>