</div>
<div>
    <a>פרסום:</a>
</div>
<div class="toggle-button-cover">
          <div class="button-cover">
        <div class="button r" id="button-3">
            {% if not checked %}
          <input type="checkbox" class="checkbox" value="True" name="pub" checked>
            {% else %}
            <input type="checkbox" class="checkbox" value="True" name="pub">
            {% endif %}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
          </div>
</div>
        </div>
    <div class="content-section">
        <div>
    {% for form1 in forms %}
<table class="responsive-table-input-matrix" style="align-items: center">
		<thead>
        <tr>
			<th>תאריך</th>
			{% for day in days|clip_days:forloop.counter0 %}
                <th>{{ day|date:"d.m" }}</th>
                {% endfor %}
		</tr>
		<tr>
			<th></th>
			<th>ראשון</th>
			<th>שני</th>
			<th>שלישי</th>
			<th>רביעי</th>
			<th>חמישי</th>
			<th>שישי</th>
			<th>שבת</th>
		</tr>
		</thead>
		<tbody>

		<tr style="align-content: end">
			<td>6:30-14:30</td>
            <td><textarea name="day1_630_{{ forloop.counter0 }}" >{{ form1.Day1_630.value|default_if_none:"" }}</textarea></td>
			<td><textarea name="day2_630_{{ forloop.counter0 }}" >{{ form1.Day2_630.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_630_{{ forloop.counter0 }}" >{{ form1.Day3_630.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_630_{{ forloop.counter0 }}" >{{ form1.Day4_630.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_630_{{ forloop.counter0 }}" >{{ form1.Day5_630.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_630_{{ forloop.counter0 }}" >{{ form1.Day6_630.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_630_{{ forloop.counter0 }}" >{{ form1.Day7_630.value|default_if_none:"" }}</textarea></td>
		</tr>
		<tr>
			<td>7:00-15:00<br/>סריקה</td>
            <td><textarea name="day1_700_search_{{ forloop.counter0 }}" >{{ form1.Day1_700_search.value|default_if_none:"" }}</textarea></td>
			<td><textarea name="day2_700_search_{{ forloop.counter0 }}" >{{ form1.Day2_700_search.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_700_search_{{ forloop.counter0 }}" >{{ form1.Day3_700_search.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_700_search_{{ forloop.counter0 }}" >{{ form1.Day4_700_search.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_700_search_{{ forloop.counter0 }}" >{{ form1.Day5_700_search.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_700_search_{{ forloop.counter0 }}" >{{ form1.Day6_700_search.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_700_search_{{ forloop.counter0 }}" >{{ form1.Day7_700_search.value|default_if_none:"" }}</textarea></td>
		</tr>
		<tr>
		<td>7:00-15:00<br/>אחמ"ש</td>
            <td><textarea name="day1_700_manager_{{ forloop.counter0 }}" >{{ form1.Day1_700_manager.value|default_if_none:"" }}</textarea></td>
			<td><textarea name="day2_700_manager_{{ forloop.counter0 }}" >{{ form1.Day2_700_manager.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_700_manager_{{ forloop.counter0 }}" >{{ form1.Day3_700_manager.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_700_manager_{{ forloop.counter0 }}" >{{ form1.Day4_700_manager.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_700_manager_{{ forloop.counter0 }}" >{{ form1.Day5_700_manager.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_700_manager_{{ forloop.counter0 }}" >{{ form1.Day6_700_manager.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_700_manager_{{ forloop.counter0 }}" >{{ form1.Day7_700_manager.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
            <td><textarea name="day1_720_1_{{ forloop.counter0 }}" >{{ form1.Day1_720_1.value|default_if_none:"" }}</textarea></td>
			<td><textarea name="day2_720_1_{{ forloop.counter0 }}" >{{ form1.Day2_720_1.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_720_1_{{ forloop.counter0 }}" >{{ form1.Day3_720_1.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_720_1_{{ forloop.counter0 }}" >{{ form1.Day4_720_1.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_720_1_{{ forloop.counter0 }}" >{{ form1.Day5_720_1.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_720_1_{{ forloop.counter0 }}" >{{ form1.Day6_720_1.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_720_1_{{ forloop.counter0 }}" >{{ form1.Day7_720_1.value|default_if_none:"" }}</textarea></td>
		</tr>
		<tr>
			<td>7:20-17:20<br/>משיכה</td>
            <td><textarea name="day1_720_pull_{{ forloop.counter0 }}" >{{ form1.Day1_720_pull.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_720_pull_{{ forloop.counter0 }}" >{{ form1.Day2_720_pull.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_720_pull_{{ forloop.counter0 }}" >{{ form1.Day3_720_pull.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_720_pull_{{ forloop.counter0 }}" >{{ form1.Day4_720_pull.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_720_pull_{{ forloop.counter0 }}" >{{ form1.Day5_720_pull.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_720_pull_{{ forloop.counter0 }}" >{{ form1.Day6_720_pull.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_720_pull_{{ forloop.counter0 }}" >{{ form1.Day7_720_pull.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
            <td><textarea name="day1_720_2_{{ forloop.counter0 }}" >{{ form1.Day1_720_2.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_720_2_{{ forloop.counter0 }}" >{{ form1.Day2_720_2.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_720_2_{{ forloop.counter0 }}" >{{ form1.Day3_720_2.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_720_2_{{ forloop.counter0 }}" >{{ form1.Day4_720_2.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_720_2_{{ forloop.counter0 }}" >{{ form1.Day5_720_2.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_720_2_{{ forloop.counter0 }}" >{{ form1.Day6_720_2.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_720_2_{{ forloop.counter0 }}" >{{ form1.Day7_720_2.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>7:20-15:20</td>
            <td><textarea name="day1_720_3_{{ forloop.counter0 }}" >{{ form1.Day1_720_3.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_720_3_{{ forloop.counter0 }}" >{{ form1.Day2_720_3.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_720_3_{{ forloop.counter0 }}" >{{ form1.Day3_720_3.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_720_3_{{ forloop.counter0 }}" >{{ form1.Day4_720_3.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_720_3_{{ forloop.counter0 }}" >{{ form1.Day5_720_3.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_720_3_{{ forloop.counter0 }}" >{{ form1.Day6_720_3.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_720_3_{{ forloop.counter0 }}" >{{ form1.Day7_720_3.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>14:00-22:00</td>
            <td><textarea name="day1_1400_{{ forloop.counter0 }}" >{{ form1.Day1_1400.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_1400_{{ forloop.counter0 }}" >{{ form1.Day2_1400.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_1400_{{ forloop.counter0 }}" >{{ form1.Day3_1400.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_1400_{{ forloop.counter0 }}" >{{ form1.Day4_1400.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_1400_{{ forloop.counter0 }}" >{{ form1.Day5_1400.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_1400_{{ forloop.counter0 }}" >{{ form1.Day6_1400.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_1400_{{ forloop.counter0 }}" >{{ form1.Day7_1400.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>15:00-19:00</td>
            <td><textarea name="day1_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day1_1500_1900.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day2_1500_1900.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day3_1500_1900.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day4_1500_1900.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day5_1500_1900.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day6_1500_1900.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_1500_1900_{{ forloop.counter0 }}" >{{ form1.Day7_1500_1900.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>15:00-23:00</td>
            <td><textarea name="day1_1500_{{ forloop.counter0 }}" >{{ form1.Day1_1500.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_1500_{{ forloop.counter0 }}" >{{ form1.Day2_1500.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_1500_{{ forloop.counter0 }}" >{{ form1.Day3_1500.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_1500_{{ forloop.counter0 }}" >{{ form1.Day4_1500.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_1500_{{ forloop.counter0 }}" >{{ form1.Day5_1500.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_1500_{{ forloop.counter0 }}" >{{ form1.Day6_1500.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_1500_{{ forloop.counter0 }}" >{{ form1.Day7_1500.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>לילה</td>
            <td><textarea name="day1_2300_{{ forloop.counter0 }}" >{{ form1.Day1_2300.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_2300_{{ forloop.counter0 }}" >{{ form1.Day2_2300.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_2300_{{ forloop.counter0 }}" >{{ form1.Day3_2300.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_2300_{{ forloop.counter0 }}" >{{ form1.Day4_2300.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_2300_{{ forloop.counter0 }}" >{{ form1.Day5_2300.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_2300_{{ forloop.counter0 }}" >{{ form1.Day6_2300.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_2300_{{ forloop.counter0 }}" >{{ form1.Day7_2300.value|default_if_none:"" }}</textarea></td>
		</tr>
        <tr>
			<td>הערות</td>
            <td><textarea name="day1_notes_{{ forloop.counter0 }}" >{{ form1.Day1_notes.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day2_notes_{{ forloop.counter0 }}" >{{ form1.Day2_notes.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day3_notes_{{ forloop.counter0 }}" >{{ form1.Day3_notes.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day4_notes_{{ forloop.counter0 }}" >{{ form1.Day4_notes.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day5_notes_{{ forloop.counter0 }}" >{{ form1.Day5_notes.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day6_notes_{{ forloop.counter0 }}" >{{ form1.Day6_notes.value|default_if_none:"" }}</textarea></td>
            <td><textarea name="day7_notes_{{ forloop.counter0 }}" >{{ form1.Day7_notes.value|default_if_none:"" }}</textarea></td>
		</tr>
		</tbody>
	</table>
            </div>
        {% endfor %}