{% extends "Schedule/base.html" %}
<html dir = rtl lang="he">
{% block content %}
    <div>
        <h3>מתאריך {{ days|first|date:"d/m" }} עד לתאריך {{ days|last|date:"d/m" }}</h3>
    </div>
    <div class="row" style="align: bottom">
    <div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="con buttons">
      <button name="download" class="but effect01" type="submit"><span>יצא לאקסל</span></button>
    </div>
        </div>
    </form>
    </div>
    <div style="margin-top: 3.5em">
        <a>מספר אנשים שהגישו: {{ num_served }} - </a>
    </div>
    <div style="margin-top: 3.5em; margin-right: 2px;">
    {% for user in users %}
        <a href="{% url 'shift-update' users|get_item:user %}"> {{ user }}, </a>
        {% if forloop.counter|is_divided5 %}
            </br>
        {% endif %}
    {% endfor %}
    </div>
    <div style="margin-top: 3.5em; margin-right: 10px;">
        <a>מספר אנשים שלא הגישו מינימום: {{ not_qual_num }} - </a>
    </div>
    <div style="margin-top: 3.5em; margin-right: 2px;">
    {% for user in not_qual_users %}
        <a href="{% url 'shift-update' not_qual_users|get_item:user %}"> {{ user }}, </a>
        {% if forloop.counter|is_divided5 %}
            </br>
        {% endif %}
    {% endfor %}
    </div>
    </div>
    {% for week in notes %}
<table class="responsive-table-input-matrix" style="align-items: center; margin-top: 2em">
		<thead>
		<tr>
			<th></th>
            {% for day in days|clip_days:forloop.counter0 %}
                <th>{{ day|date:"d.m" }}</th>
                {% endfor %}
		</tr>
        <tr>
			<th></th>
			<th>ראשון</th>
			<th>שני</th>
			<th>שלישי</th>
			<th>רביעי</th>
			<th>חמישי</th>
			<th>שישי</th>
			<th>שבת</th>
		</tr>
		</thead>
		<tbody>

		<tr style="align-content: end">
			<td>בוקר</td>
            {% for s in served|clip_dictionary_served1:"M"|clip_dictionary_served2:forloop.counter0 %}
			<td>{{ s }}</td>
                {% endfor %}
		</tr>
		<tr>
			<td>צהריים</td>
			{% for s in served|clip_dictionary_served1:"A"|clip_dictionary_served2:forloop.counter0 %}
			<td>{{ s }}</td>
                {% endfor %}
		</tr>
		<tr>
		<td>לילה</td>
			{% for s in served|clip_dictionary_served1:"N"|clip_dictionary_served2:forloop.counter0 %}
			<td>{{ s }}</td>
                {% endfor %}
		</tr>
        <tr>
			<td>משיכה</td>
			<td></td>
			<td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
		</tr>
		<tr>
			<td>הודעות</td>
            <td><textarea class="notes_organization"></textarea></td>
			<td><textarea class="notes_organization"></textarea></td>
            <td><textarea class="notes_organization"></textarea></td>
            <td><textarea class="notes_organization"></textarea></td>
            <td><textarea class="notes_organization"></textarea></td>
            <td><textarea class="notes_organization"></textarea></td>
            <td><textarea class="notes_organization"></textarea></td>
		</tr>
		</tbody>
</table>
        <div style="margin-top: 2em; margin-bottom: 3em; font-size: 20px">
        <a style="margin-top: 4em">הערות שבוע {{ forloop.counter }}:</a>
        <p>{{ week }}</p>
    </div>
    {% endfor %}
    <div style="margin-top: 2em; margin-bottom: 3em; font-size: 20px">
        <a style="margin-top: 4em">הערות:</a>
    <p>{{ notes_general }}</p>
    </div>
{% endblock content %}