{% extends "Schedule/base.html" %}
<html dir = rtl>
{% block content %}
    <div dir="rtl" style="text-align: right" class="content-section">
      <div style="text-align: right" class="media" dir="rtl">
        <img class="rounded-circle account-img" src="media/favicon.ico">
        <div style="text-align: right"  dir="rtl" class="media-body">
          <h2  class="account-heading">משמר בתי המשפט</h2>
          <p dir="rtl" style="margin-right: 1.0em" class="text-secondary">{{ settings.city }}</p>
            <p dir="rtl" style="margin-right: 1.0em" class="text-secondary">v2.5</p>
        </div>
      </div>
      <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" enctype="multipart/form-data">
                <legend class="border-bottom mb-4">הגדרות אתר</legend>
                <div >
                    <div style="margin-bottom: 1em">
                        <div>
                            <a>ניתן להגיש/לשנות הגשות</a>
                        </div>
                        <div class="toggle-button-cover">
          <div class="button-cover">
        <div class="button r" id="button-3">
            {% if not checked %}
          <input type="checkbox" class="checkbox" value="True" name="serv" checked>
            {% else %}
            <input type="checkbox" class="checkbox" value="True" name="serv">
            {% endif %}
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
          </div>
</div>
                    </div>
                    <div style="margin-bottom: 1em">
                        <div>
                            <a>קוד זיהוי</a>
                        </div>
                        <div style="padding: 10px">
                            {{ settings_form.pin_code }}
                        </div>
                    </div>
                    <div style="margin-bottom: 1em">
                        <div>
                            <a>קצין מתקן</a>
                        </div>
                        <div style="padding: 10px">
                            {{ settings_form.officer }}
                        </div>
                    </div>
                    <div style="margin-bottom: 1em">
                        <div>
                            <a>עיר</a>
                        </div>
                        <div style="padding: 10px">
                            {{ settings_form.city }}
                        </div>
                    </div>
                    <div style="margin-bottom: 1em">
                        <div>
                            <a>מספר רצפים מקסימלי לילה לצהריים</a>
                        </div>
                        <div style="padding: 10px">
                            {{ settings_form.max_seq0 }}
                        </div>
                    </div>
                    <div style="margin-bottom: 1em">
                        <div>
                            <a>מספר רצפים מקסימלי צהריים לבוקר</a>
                        </div>
                        <div style="padding: 10px">
                            {{ settings_form.max_seq1 }}
                        </div>
                    </div>
                    </div>
            </fieldset>
            <div class="form-group">
                <div class="con2 buttons">
                    <button class="but effect01" type="submit"><span>עדכון</span></button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}