{% extends "mishmar/base.html" %}
{% block content %}
<h1>שינוי סיסמה</h1>
<h3>{{ user1s.nickname }}</h3>
<form method="POST">
    {% csrf_token %}
<div style="margin-bottom: 1em">
    <div>
        <a>סיסמה</a>
    </div>
    <div style="padding: 10px">
        <input type="password" name="password1">
    </div>
<div>
    <small class="text-muted">
   • הסיסמה חייבת להכיל לפחות 8 תווים.
 </small>
    <br>
    <small class="text-muted">
   • הסיסמה לא יכולה להיות רק ממספרים.
 </small>
</div>
</div>
<div style="margin-bottom: 1em">
    <div>
        <a>הזן סיסמה שוב</a>
    </div>
    <div style="padding: 10px">
        <input type="password" name="password2">
    </div>
<div>
    <small class="text-muted">
        • הכנס את אותה סיסמה שוב לצורך וידוי.
 </small>
</div>
</div>
<div style="margin-right: 10px;">
    <button class="but effect01" type="submit" name="month_log_manager"><span>שינוי</span></button>
</div>
</form>
{% endblock content %}